@use "fonts";
@use "vars" as *;

@use "../../node_modules/reset-css/sass/reset";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
}

body {
    min-width: 320px;
    position: relative;
    overflow: hidden;
    color: $base-dark-color;
    line-height: 1.75;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: 0.2s;

    &:hover, &:focus, &:active {
        color: lighten($primary-color, 5%);
    }
}

.alert-container {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .alert {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 100;
        min-width: 200px;
        font-size: 0.75rem;
        line-height: 1;
        border-radius: 4px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
        margin: 16px;
        padding: 12px 24px;
        transition: 0.2s;

        &.success {
            background-color: $success-color;
        }

        &.error {
            background-color: $danger-color;
        }

        &.close {
            opacity: 0;
            display: none;
        }

        ul {
            li {
                margin: 0 0 8px;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

input, button {
    display: inline-block;
    width: 100%;
    line-height: 1;
    outline: none;
    border: none;
    border-radius: 4px;
    margin: 0;
    padding: 12px;
    transition: 0.2s;
}

input:not([type=submit]) {
    text-overflow: ellipsis;
    background-color: $base-light-dark-color;

    &:focus {
        background-color: lighten($base-light-dark-color, 5%);
    }
}

input[type=submit], button {
    color: #fff;
    background-color: $primary-color;
    padding: 16px;
    cursor: pointer;

    &:hover, &:focus, &:active {
        background-color: lighten($primary-color, 5%);
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 12px;

    form {
        display: block;
        max-width: 512px;
        border: $base-light-dark-color 2px solid;
        border-radius: 8px;
        margin: 0 auto;
        padding: 12px;

        .form-row {
            padding: 8px 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            .error {
                font-size: 0.75rem;
                color: $danger-color;
            }
        }

        .color-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .color-box {
                $color-box-size: 56px;

                min-width: $color-box-size;
                width: $color-box-size;
                height: $color-box-size;
                border-radius: 4px;
                margin-right: 8px;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 128px 0 24px;

        tr {
            border-bottom: $base-light-dark-color 2px solid;

            th, td {
                vertical-align: middle;
                text-align: center;
                padding: 12px 24px;
            }

            td {
                color: lighten($base-dark-color, 10%);
                font-size: 0.75rem;
                border-right: $base-light-dark-color 2px solid;

                &:last-child {
                    border: none;
                }
            }
        }
    }
}
